<div class="rentals">
  <label>
    <span>Where would you like to stay?</span>
    <Input @value={{this.query}} class="light" placeholder="try name, location, or description"/>
  </label>

  <fieldset class="side-by-side" id="rental-type-rbl">
    <legend>
      <strong>Selected Type:</strong> {{this.type}}
    </legend>

    <RadioButton
      @name="rental-type"
      @value=""
      @groupValue={{this.type}}
      @changed={{this.typeChanged}}
    >
      (any)
    </RadioButton>
    <RadioButton
      @name="rental-type"
      @value="standalone"
      @groupValue={{this.type}}
      @changed={{this.typeChanged}}
    >
      Standalone
    </RadioButton>
    <RadioButton
      @name="rental-type"
      @value="community"
      @groupValue={{this.type}}
      @changed={{this.typeChanged}}
    >
      Community
    </RadioButton>
  </fieldset>

  <ul class="results">
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} @type={{this.type}} as |results|>
      {{#each results as |rental|}}
        <li><Rental @rental={{rental}} /></li>
      {{/each}}
    </Rentals::Filter>
  </ul>
</div>